.navbar_fixed_container {
  width: 100%;
  z-index: 100;
  position: relative;
  margin-bottom: 9.3rem;
  .fixed_container {
    width: 100%;
    position: fixed;
    top: 0;
  }
}

@media only screen and (max-width: 1025px) {
  .navbar_fixed_container {
    display: none;
  }
}
