.navbar_container {
  width: 100%;
  height: 100%;
  padding: 1.5rem 0;
  .search_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    label {
      font-weight: 600 !important;
    }
  }
  .logo_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
      cursor: pointer;
      color: white !important;
    }
  }
  .user_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    p{
      color: white !important;
    }
    svg{
      fill: white !important;
    }
    .user {
      cursor: pointer;
    }
    .user_shop {
      cursor: pointer;
    }
  }
}
